# UserService
US_HOST=localhost
US_PORT=5432
US_USER=granbazaar
US_PASS=granbazaar
US_DB=granbazaar

# CatalogService (CartService)
CS_HOST=localhost
CS_PORT=5433
CS_USER=postgres
CS_PASS=postgres
CS_DB=granbazaar_catalog

# CheckoutOrdersService
CO_HOST=localhost
CO_PORT=5434
CO_USER=postgres
CO_PASS=postgres
CO_DB=granbazaar_checkout_order

# WishListService
WL_HOST=localhost
WL_PORT=5435
WL_USER=postgres
WL_PASS=postgres
WL_DB=granbazaar_wishlist
